<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>net.innparusu.alfred2-niconico-search</string>
	<key>connections</key>
	<dict>
		<key>21557827-8003-42B7-A042-16D4C9278FEC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>42D05639-3F0F-4760-8214-317167E4173D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>BA17BE41-176A-4E9A-B958-A3F0BEA36829</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>42D05639-3F0F-4760-8214-317167E4173D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>innparusu</string>
	<key>description</key>
	<string>Alfred workflow for Search NicoNico Video</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>NicoNico Video Search</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>36</integer>
				<key>keyword</key>
				<string>nico search</string>
				<key>runningsubtext</key>
				<string>Searching for &quot;{query}&quot;</string>
				<key>script</key>
				<string>/usr/bin/ruby ./main.rb {query}</string>
				<key>subtext</key>
				<string>Search NicoNicoVideo for &quot;{query}&quot;</string>
				<key>title</key>
				<string>Search NicoNicoVideo</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>21557827-8003-42B7-A042-16D4C9278FEC</string>
	        <key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>81C6B6B7-C864-4173-8FCC-92F3852C115F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>readme</string>
	<key>uidata</key>
	<dict>
		<key>21557827-8003-42B7-A042-16D4C9278FEC</key>
		<dict>
			<key>ypos</key>
			<real>250.0</real>
		</dict>
		<key>42D05639-3F0F-4760-8214-317167E4173D</key>
		<dict>
			<key>ypos</key>
			<real>140.0</real>
		</dict>
		<key>BA17BE41-176A-4E9A-B958-A3F0BEA36829</key>
		<dict>
			<key>ypos</key>
			<real>370.0</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/innparusu95</string>
</dict>
</plist>
